{% extends "core/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<div class="container w-50 mb-4">
{% if title %}
  <div class="row text-center">
    <h1 class="display-6 pb-3 border-bottom">{{title}}</h1>
  </div>
{% endif %}
  <div class="row mt-3">
    <form method="post" class="p-3">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <input class="btn btn-primary" type="submit" value="Enviar" style="margin-top: 15px">
      {% endbuttons %}
    </form>
  </div> 
</div>

{% endblock %}
